*.py[co]

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.noseids
htmlcov/
coverage.xml
.pytest_cache

# Docs by Sphinx
_build

# Environment
.env/
.venv/
env/
venv/

# IDE files
.idea
.vscode
.DS_Store

# Mypy
.mypy_cache
.dmypy.json

# Ruff
.ruff_cache/
