sudo: false

language: "python"

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "pypy-5.4.1"
    - "pypy3"

install:
    - "pip install ."
    - "pip install -U coveralls"

script:
    - "coverage run --include='more_itertools/*.py' --omit='more_itertools/tests/*' setup.py test"

notifications:
  email: false

after_success:
    - "coveralls"
