name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9.0, 3.10.0, pypy3]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install -U coverage flake8 wheel
    - name: Run tests
      run: |
        coverage run --include="more_itertools/*.py" -m unittest
    - name: Check coverage
      run: |
        coverage report --show-missing --fail-under=99
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Check formatting with black
      if: "matrix.python-version == '3.6'"
      run: |
        pip install -U black
        black --check .
    - name: Check type stubs with mypy
      if: "matrix.python-version != 'pypy3'"
      run: |
        pip install -U mypy
        stubtest more_itertools.more more_itertools.recipes
    - name: Build docs with sphinx
      if: "matrix.python-version == '3.6'"
      run: |
        pip install -U sphinx sphinx_rtd_theme
        sphinx-build -W -b html docs docs/_build/html
    - name: Build packages
      if: "matrix.python-version == '3.6'"
      run: |
        pip install -U flit twine
        flit build --setup-py
        twine check dist/*
    - name: Upload packages
      if: "matrix.python-version == '3.6'"
      uses: actions/upload-artifact@v2
      with:
        name: more-itertools-packages
        path: dist/*
